{{define "footer"}}
    <div class="container">
        <div class="row">
            <div class="col text-center pb-4 pt-2">
                <hr>
                <small class="text-muted">Copyright © 2023 nibbit.ai</small>
            </div>
        </div>
    </div>
{{end}}